body {
  padding: 0;
  margin: 0;

  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
img {
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}
h1.main-name {
  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  padding-bottom: 115px;
  text-align: center;
}
.slider-item:first-child .slider-item-right {
  width: 698px;
  height: 413px;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: center;
}
.slider-item:nth-child(2) .slider-item-right {
  width: 698px;
  height: 413px;
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: center;
}
.slider-item:last-child .slider-item-right {
  width: 698px;
  height: 413px;
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: center;
}
.slider-item-right {
  position: relative;
}
.slider-item-right .container-buttons {
    position: absolute;
    top: 300px;
    left: 106px;
    width: 90px;
    height: 18px;
    margin: 0;
    padding: 0;

}
.slider-item-right .button-round {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: white;
  padding: 0;
  margin: 0;
  margin-right: 16px;
  margin-left: -2px;
  border-radius: 50%;
  border-style: none;
}
.slider-item-right .circle {
  position: absolute;
  top: 5px;
  left: 5px;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slider-item-right .button-round:last-child {
  margin-right: 0;
}
.contacts {
  margin: 0 auto;
  width: 1440px;
  height: 416px;
  background-image: url("../img/contacts.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 60px;
}
.contacts-our {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 50px;
  margin-left: 140px;
  margin-top: 54px;
}
.contacts-our h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.contacts-our p {
  font-size: 16px;
  line-height: 18px;
  color: #666;
}
.contacts-our p:first-of-type {
  margin-bottom: 22px;
}
.contacts-our p:last-of-type {
  margin-bottom: 36px;
}
.main-header {
  background-color: #eee;
  color: #000;
  margin-bottom: 80px;
}
.main-header.inner-page {
  margin-bottom: 46px;
}
.container {
  width: 1160px;
  margin: auto;
}
.site-navigation {
  padding-top: 20px;
  margin-bottom: 18px;
}
.inner-page .site-navigation {
  margin-bottom: 80px;
}
.main-header .main-navigation,
.main-header .user-navigation {
  margin: 0;
  padding: 0;
  padding-top: 26px;
}
.site-navigation img:hover {
  opacity: 80%;
  cursor: pointer;
}
.site-navigation img:active {
  opacity: 30%;
}
.site-navigation a {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #000;
}
.main-logo {
  height: 65px;
  width: 160px;
  margin-right: 202px;
}
.main-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}
.main-navigation a:active,
.user-navigation a:active {
  color: #000;
  opacity: 30%;
}
.user-navigation li {
  position: relative;
  padding-left: 40px;
}
.user-navigation li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url("../img/cart-icon.svg") no-repeat center center;
  opacity: 0.3;
}
.main-navigation, .user-navigation {
  list-style: none;
}
.site-navigation .navigation-current {
  border-bottom: 2px solid #fb565a;
}
.slider {
  background-color: #eee;
  color: #000;
}
.slider .slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.slider-item-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.slider-item-left b {
  font-size: 55px;
  line-height: 55px;
  margin-top: 58px;
  margin-bottom: 26px;
}
.slider-item-left p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 42px;
}
.slider-item-left .button {
  display: inline-block;
  box-sizing: border-box;
  padding: 18px 54px;
  width: 240px;
  height: 50px;
}
.inner-page {
  display: flex;
}

.service {
  border-bottom: 2px solid #eee;
  margin-bottom: 40px;
}
.service .service-list {
  list-style: none;
  margin-bottom: 80px;
}
.service-item .service-image {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 146px;
  margin-bottom: 23px;
}
.service-name {
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.service-item .service-description {
  width: 260px;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 32px;
}
/* .service-item .button {
  margin-bottom: 90px;
}  */
.about-left-side .about-bold {
  font-size: 45px;
  line-height: 45px;
  margin-block-start: 35px;
  margin-bottom: 32px;
}
.about-left-side .about-description {
  margin-bottom: 36px;
}
.about-left-side .about-services {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 26px;
}
.about-left-side .about-list {
  list-style: none;
  padding-left: 36px;
  margin-bottom: 72px;
}
.about-list li {
  margin-bottom: 26px;
}
.about-us {
  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: space-between;
}
.about-left-side {
  width: 660px;
  /* margin-inline-start: 40px; */
}
.about-right-side {
  width: 360px;
}
.about-right-side p {
  margin: 0;
  padding: 0;
  width: 360px;
  height: 208px;
  margin-bottom: 36px;
}
.about-table {
 border-collapse: collapse;
}
.about-right-side caption {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.about-percent {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  padding-right: 20px;

}
.about-percent sup {
  font-size: 28px;
}
.about-features {
  padding-top: 16px;
}
.about-table tr:first-child {
  margin-bottom: 26px;
}
.about-table tr:last-child {
  font-size: 16px;
  line-height: 18px;
}
.partners {
  border-bottom: 2px solid #eee;
  margin-bottom: 80px;
}
.partners .partners-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.partners-list .partners-item:first-child {
  width: 278px;
  height: 180px;
}
.partners-list .partners-item:last-child {
  width: 280px;
  height: 180px;
}
.partners-list .partners-item:nth-child(2),
.partners-list .partners-item:nth-child(3) {
  width: 298px;
  height: 180px;
}
.partners-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners-item a {
  cursor: pointer;
  opacity: 20%;
  display: inline-block;
}
.partners-item a:hover {
  opacity: 100%;
}
.partners-item a:active {
  opacity: 10%;
}
a.button {
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  padding: 15px 40px;
  cursor: pointer;
  border: none;
}
.button {
  border-radius: 5px;
}
.button-red {
    color: #fff;
    background-color: #fb565a;
}
.button-red:hover {
  background-color: #e74246;
}
.button-red:active {
  background-color: #d7373b;
  color: #dd5357;
  box-shadow: inset 0 3px 0 0 #c13135;
}
.button-green {
  color: #fff;
  background-color: #00ca74;
}
.button-green:hover {
  background-color: #00bc6c;
}
.button-green:active {
  background-color: #00aa62;
  color: #4dc491;
  box-shadow: inset 0 3px 0 0 #009958;
}
.button-yellow {
  color: #fff;
  background-color: #efc849;
}
.button-yellow:hover {
  background-color: #eab534;
}
.button-yellow:active {
  background-color: #e5a722;
  color: #ebba53;
  box-shadow: inset 0 3px 0 0 #ce961f;
}
.social {
  margin: 0 auto;
  width: 1160px;
  height: 100px;
  display: flex;
}
.social-left {
  width: 316px;
  height: 78px;
  margin-right: 84px;
  align-self: flex-start;
}
.social-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-buttons li {
  display: inline-block;
  background-color: #e1e1e1;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin-right: 12px;
}
.social-button a {
  display: inline-block;
  text-align: center;
  width: 78px;
  height: 78px;
  cursor: pointer;
  line-height: 78px;
}
/* .social-button table {
  width: 100%;
  height: 100%;
}
.social-button td {
  vertical-align: middle;
  text-align: center;
} */
.social-button svg {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
}
.social-button:hover {
  background-color: #e74246;
}
.social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c3373b;
}
.social-button:active path {
  fill: #e37376;
}
.social-right {
align-self: flex-start;
}
.social-right b {
  font-size: 36px;
  line-height: 56px;
  font-weight: bold;
  vertical-align: middle;
  /* margin-bottom: 32px; */
}
.social-right p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}
.write-us {
  width: 960px;
  margin: 0 auto;
}
.write-us h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
  margin-bottom: 30px;
}
.write-form {
  width: 760px;
  margin: 0 auto;
}
.write-us label {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}
.write-us input,
.write-us textarea {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.write-us input:hover,
.write-us textarea:hover {
  border-color: #b4b9bb;
}
.write-us input:active, .write-us input:focus,
.write-us textarea:active, .write-us textarea:focus {
  border-color: #000;
  color: #444;
}
.write-us input:invalid, .write-us textarea:invalid {
  border-color: #e74246;
  color: #e74246;
}
.write-us input:first-of-type {
  margin-bottom: 36px;
}
.write-us textarea {
  margin-bottom: 46px;
}
.write-us textarea {
  width: 100%;
  rows: 5;
}
.write-us input, .write-us textarea {
  padding: 15px 10px;
  border: 2px solid #d7dcde;
}
.write-us .button-red {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding: 0;
  padding: 20px 80px;
  cursor: pointer;
  text-transform: uppercase;
  border-style: none;
}
.filter {
  width: 260px;
  margin-right: 140px;
}
.filter .filter-field {
  border: none;
}
.filter-field legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.filter-cost legend {
  padding-top: 0;
  margin-bottom: 50px;
}
.filter-cost {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
.range-controls {
  position: relative;
  height: 80px;
  background-color: #eee;
  margin-bottom: 14px;
}
.range-controls-output {
  height: 38px;
  text-transform: uppercase;
}
.range-controls-output output {
  display: inline-block;
  height: 100%;
  line-height: 38px;
  text-align: center;
  width: 80px;
  margin: 0;
  padding: 0;
  background-color: #eee;
  margin-left: 12px;
}
.range-controls-output output:first-of-type{
  margin-right: 20px;
}
.filter-cost .scale {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  transform: translatex(-50%);
  width: 219px;
  height: 2px;
  background-color: #d7dcde;
}
.filter-cost .bar {
  display: flex;
  justify-content: space-between;
  width: 162px;
  height: 2px;
  background-color: #00ca74;
}
.filter-cost .range-toggle {
  position: relative;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #cccdcd;
}
.range-toggle-min {
  left: -1px;
}
.range-toggle-max {
  right: -1px;
}
.filter-cost .range-toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50%;
  margin-left: -2px;
  margin-top: -2px;
}
.filter-field label {
  font-size: 16px;
  line-height: 20px;
}
.filter-field ul {
  list-style: none;
  margin-block-end: 0;
}
.filter-field .filter-option {
  margin-bottom: 16px;
}
.filter-field .filter-option:last-child {
  margin-bottom: 0;
}
.filter-grid, .filter-features {
  margin: 0;
  padding: 0;
}
.filter-grid {
  margin-bottom: 44px;
}
.filter-grid label {
  position: relative;
}
.filter-grid label::before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 4px solid #a6a6a6;
  border-radius: 50%;
  left: -35px;
  top: -3px;
}
.filter-grid input:checked + label::after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 9px;
  height: 9px;
  background-color: #a6a6a6;
  border-radius: 50%;
  left: -27px;
  top: 5px;
}
.filter-features {
  margin-bottom: 44px;
}
.filter-features label {
  position: relative;
}
.filter-features label::before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 2px solid #a6a6a6;
  border-radius: 3px;
  left: -35px;
  top: -3px;
}
.filter-features input:checked + label::after {
  position: absolute;
  content: "";
  width: 27px;
  height: 23px;
  background: url("../img/2/checkbox-on.svg") no-repeat center;
  left: -35px;
  top: -3px;
}
.filter-features input:checked + label::before {
  border: none;
}
.filter button.button-grey {
  width: 100%;
  padding: 18px 0;
  text-transform: uppercase;
  background-color: #eee;
  border: none;
}
.filter button.button-grey:hover {
  background-color: #dfdfdf;
}
.filter button.button-grey:active {
  background-color: #d5d5d5;
  color: #959595;
  box-shadow: inset 0 3px 0 0;
  outline: none;
}
.templates {
  width: 760px;
  display: flex;
  flex-direction: column;
}
.rite {
  display: flex;
  justify-content: space-between;
}
.templates-item {
  width: 360px;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 33px;
}
.templates-item .info {
  position: absolute;
  width: 360px;
  height: 231px;
  background-color: #eee;
  bottom: 0;
  text-align: center;
  visibility: hidden;
}
.templates-item:hover .info {
  visibility: visible;
}
.templates-item img:first-child {
  opacity: 0.12;
}
.templates-item:hover img:first-child {
  opacity: 1;
}
.templates-item:hover {
  box-shadow: 0 0 15px 6px rgba(0, 1, 1, 0.4);
}
.templates-item img:nth-child(2) {
  margin-top: -1px;
}
.templates-list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.templates-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.templates h3.sort-list {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.templates .sort-button {
  font-size: 14px;
  line-height: 18px;
  color: black;
  opacity: 30%;
  text-transform: uppercase;
}
.templates .sort-button:hover {
  opacity: 60%;
}
.templates .sort-button:active {
  opacity: 100%;
}
.templates a.sort-current {
  opacity: 100%;
  color: black;
}
.templates a.down-arrow,
.templates a.up-arrow {
  cursor: pointer;
}
.templates a.up-arrow {
  opacity: 30%;
}
.templates a.sort-button:first-child,
.templates a.sort-button:nth-child(2) {
  margin-right: 27px;
}
.templates a.sort-button:nth-child(3) {
  margin-right: 48px;
}
.templates a.sort-button:nth-child(4) {
  margin-right: 18px;
}
.templates .templates-list {
  list-style: none;
  margin-bottom: 30px;
}
.templates-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 17px;
}
.templates-item p {
  line-height: 24px;
  margin-bottom: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}
.templates-item a.button-red {
  padding: 18px 60px;
  margin-bottom: 42px;
}
.templates-pages {
  margin-bottom: 60px;
}
.templates-pages .pages-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  padding-left: 0;
}
.pages-item.pages-current a{
  background-color: #fff;
  color: #000;
}
.pages-item a {
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  background-color: #eee;
  border: 2px solid #eee;
  border-radius: 5px;
  margin-right: 10px;
}
.pages-item a:hover {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}
.pages-item a:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  border-top: 2px solid #bfbfbf;
  color: #a9a9a9;
  box-shadow: inset 0 1px 0 0 #bfbfbf;
}
.pages-item.pages-next a{
  width: 246px;
  height: 44px;
}
/*==================NET========================*/
.slider-item:nth-child(2),
.slider-item:last-child {
  display: none;
}
.main-header .site-navigation {
  display: flex;
  justify-content: flex-start;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  /* margin-right: 245px; */
  align-items: flex-start;
}
.main-header .user-navigation {
  width: 115px;
  margin-left: auto;
}
.main-header .main-navigation {
  width: 440px;
}
.slider-item {
  display: flex;
  justify-content: flex-start;
}
.slider-item-left {
  width: 430px;
}
.service-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0;
}
.service-item {
  width: 300px;
  margin-right: 100px;
  /* flex-shrink: 0; */
  /* border: 1px dotted red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
